{% extends 'base.html.twig' %}

{% block title %}{{ 'login.title'|trans({}, 'user') }}{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="mt-4 mb-3">{{ 'user.header.login.title'|trans({}, 'form') }}
            <small>{{ 'user.header.login.subtitle'|trans({}, 'form') }}</small>
        </h1>

        <div class="row">
            <div class="col-lg-8 mb-4">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {{ form_start(user_login_form) }}

                {{ form_row(user_login_form.email) }}
                {{ form_row(user_login_form.plainPassword) }}

                <button type="submit" class="btn btn-primary">
                    {{ 'user.form.label.submit.signin'|trans({}, 'form') }}
                </button>

                {{ form_end(user_login_form) }}

            </div>
        </div>
    </div>

{% endblock %}
